html {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

*,
*::before,
*::after {
  -webkit-box-sizing: inherit;
          box-sizing: inherit;
  margin: 0;
  padding: 0;
}

body {
  font-family: Arial, Helvetica, sans-serif;
  line-height: 1.3;
  color: #ffffff;
  letter-spacing: 0.04em;
}

a {
  text-decoration: none;
  color: inherit;
}

button {
  font-family: inherit;
  color: #ffffff;
  border: none;
  cursor: pointer;
}

input {
  font-family: inherit;
}

svg {
  height: auto;
}

img {
  display: block;
  width: 100%;
  height: auto;
}

ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

h1,
h2,
h3,
h4,
p {
  padding: 0;
  margin: 0;
}

.container {
  padding: 0 10px;
  margin: 0 auto;
  width: 100%;
}
@media screen and (min-width: 480px) {
  .container {
    width: 480px;
  }
}
@media screen and (min-width: 768px) {
  .container {
    width: 768px;
  }
}
@media screen and (min-width: 1024px) {
  .container {
    width: 1024px;
  }
}
@media screen and (min-width: 1200px) {
  .container {
    width: 1200px;
  }
}
@media screen and (min-width: 1600px) {
  .container {
    width: 1290px;
  }
}

.visualy-hiden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.header {
  background-color: #ffffff;
}

.header__action {
  background-color: #262626;
  -webkit-box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.25);
          box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.25);
  padding: 20px;
}

.header__announce {
  text-align: center;
  font-weight: 700;
  font-size: 12px;
}

.header__content {
  position: relative;
  padding-top: 15px;
  padding-bottom: 15px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.header__menu {
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  margin: 0;
  padding: 0;
  background-color: transparent;
  border: none;
}
.header__menu .icon__cross {
  display: none;
}

.icon__menu.is-open {
  display: none;
}

.icon__cross.is-open {
  display: block;
}

.logo {
  width: 73px;
  height: 35px;
}

.header__navigation {
  visibility: hidden;
  pointer-events: none;
  position: absolute;
  width: 100%;
  top: 69px;
  left: 0;
  padding: 20px;
  background-color: #ffffff;
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px;
  -webkit-transform: translateY(-100%);
          transform: translateY(-100%);
  -webkit-transition: visibility 500ms linear, -webkit-transform 500ms linear;
  transition: visibility 500ms linear, -webkit-transform 500ms linear;
  transition: transform 500ms linear, visibility 500ms linear;
  transition: transform 500ms linear, visibility 500ms linear, -webkit-transform 500ms linear;
}

.header__navigation.is-open {
  visibility: visible;
  pointer-events: auto;
  -webkit-transform: translateY(0);
          transform: translateY(0);
}

.navigation__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  gap: 8px;
}

.navigation__button {
  width: 146px;
  height: 32px;
  font-size: 12px;
  color: #262626;
  background-color: transparent;
  border: 1px solid #e5ab39;
  border-radius: 20px;
}

.button-yellow {
  font-weight: 700;
  font-size: 12px;
  padding: 5px 14px;
  color: #ffffff;
  background-color: #e5ab39;
  border-radius: 6px;
}

.hero {
  background-color: #005844;
}

.hero__image {
  margin-left: auto;
}

.hero__wrap {
  padding: 20px 10px;
}

.hero__title {
  font-family: Cormorant, serif;
  font-size: 28px;
  line-height: 1;
  letter-spacing: 0.01em;
  margin-bottom: 16px;
  text-align: center;
}

.hero__article {
  font-size: 14px;
  line-height: 1.4;
  margin-bottom: 16px;
  text-align: center;
}

.hero__button {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-left: auto;
  margin-right: auto;
  font-size: 12px;
  background-color: transparent;
  color: #ffffff;
}

.bauble__image {
  width: 41px;
  height: 49px;
  margin-bottom: 6px;
  -webkit-filter: drop-shadow(4px 7px 20px #003227);
          filter: drop-shadow(4px 7px 20px #003227);
}

.features {
  background-color: #c0b487;
  padding-top: 25px;
  padding-bottom: 25px;
}

.features__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin-top: -25px;
  margin-left: -25px;
}

.features__item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-preferred-size: calc(50% - 25px);
      flex-basis: calc(50% - 25px);
  margin-top: 25px;
  margin-left: 25px;
}

.features__icon {
  width: 50px;
  height: 50px;
}

.features__article {
  font-weight: 700;
  font-size: 12px;
  text-align: center;
  margin-top: 5px;
}

.trees__item {
  padding: 30px 10px;
}

.trees__content {
  margin-right: auto;
  margin-left: auto;
  max-width: 480px;
}

.trees__item:first-child {
  background-color: #006e55;
}

.trees__item:nth-child(2) {
  background-color: #00654e;
}

.trees__item:last-child {
  background-color: #005844;
}

.trees__image {
  margin-right: auto;
  margin-left: auto;
  border-radius: 16px;
}

.trees__wrap {
  margin-top: 15px;
}

.trees__title {
  margin-bottom: 10px;
  font-family: "Cormorant";
  font-style: normal;
  font-size: 28px;
  line-height: 1.1;
  letter-spacing: 0.01em;
}

.trees__article {
  margin-bottom: 20px;
  font-size: 12px;
}

.trees__description {
  margin-bottom: 30px;
  font-size: 14px;
  line-height: 1.4;
}

.trees__button {
  padding: 5px 14px;
  font-weight: 700;
  font-size: 12px;
  background-color: #c0b487;
  border-radius: 6px;
  border: 1px solid #c0b487;
}

.trees__button-transparent {
  margin-left: 20px;
  background-color: transparent;
  border: 1px solid #c0b487;
}

.payment {
  padding-top: 30px;
  padding-bottom: 30px;
  background-color: #c0b487;
}

.payment__title {
  margin-bottom: 20px;
  font-family: "Cormorant";
  font-size: 28px;
  line-height: 1.1;
  letter-spacing: 0.01em;
}

.payment__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-right: auto;
  margin-left: auto;
}

.payment__item {
  width: 207px;
}

.payment__item:not(:last-child) {
  margin-bottom: 30px;
}

.payment__wrap {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background-color: #ffffff;
  height: 73px;
}

.payment__text {
  margin-top: 10px;
  margin-bottom: 10px;
  font-size: 14px;
  line-height: 1.4;
}

.payment__article {
  font-size: 12px;
}

.payment__icon:not(:last-child) {
  margin-right: 11px;
}

.payment__icon-visa {
  width: 46px;
  height: 15px;
}

.payment__icon-mastercard {
  width: 24px;
  height: 19px;
}

.payment__icon-logo {
  width: 73px;
  height: 35px;
}

.payment__icon-bank {
  width: 35px;
  height: 35px;
}

.footer {
  padding-top: 30px;
  padding-bottom: 24px;
  background-color: #262626;
  font-size: 12px;
}

.footer__item:not(:last-child) {
  margin-bottom: 30px;
}

.address__item:not(:last-child) {
  margin-bottom: 10px;
}

.address__link {
  display: block;
  font-style: normal;
  font-size: 14px;
  line-height: 1.4;
}

.social {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.social__item:not(:last-child) {
  margin-right: 10px;
}

.social__icon {
  width: 24px;
  height: 24px;
}

.personal__item:not(:last-child) {
  margin-bottom: 10px;
}

.policy__item:not(:last-child) {
  margin-bottom: 10px;
}

.design__item:not(:last-child) {
  margin-bottom: 10px;
}

@media (min-width: 768px) {
  .header__announce {
    font-size: 14px;
  }

  .header__content {
    padding-top: 20px;
    padding-bottom: 20px;
  }

  .header__burger {
    width: 28px;
    height: 28px;
  }

  .logo {
    width: 115px;
    height: 55px;
  }

  .header__navigation {
    top: 94px;
    padding: 0 0 31px;
  }

  .navigation__list {
    gap: 35px;
  }

  .navigation__button {
    font-size: 14px;
  }

  .button-yellow {
    font-size: 14px;
    padding: 8px 20px;
  }

  .hero__content {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }

  .hero__image {
    width: 309px;
    height: 337px;
  }

  .hero__title {
    font-size: 40px;
    margin-bottom: 20px;
  }

  .hero__wrap {
    padding: 30px 50px;
  }

  .hero__article {
    font-size: 16px;
    margin-bottom: 20px;
  }

  .hero__button {
    font-size: 14px;
  }

  .features {
    padding-top: 40px;
    padding-bottom: 40px;
  }

  .features__list {
    -ms-flex-wrap: nowrap;
        flex-wrap: nowrap;
    margin-top: 0;
    margin-left: 0;
  }

  .features__item {
    margin-top: 0;
    margin-left: 0;
  }

  .features__item:not(:last-child) {
    margin-right: 14px;
  }

  .features__article {
    font-size: 14px;
    margin-top: 10px;
  }

  .trees__item {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    padding: 50px 39px;
  }

  .trees__content {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: reverse;
        -ms-flex-direction: row-reverse;
            flex-direction: row-reverse;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    gap: 30px;
    max-width: 768px;
  }

  .trees__content-reverse {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
  }

  .trees__wrap {
    margin-top: 0;
  }

  .trees__title {
    margin-bottom: 20px;
    font-size: 40px;
  }

  .trees__article {
    margin-bottom: 30px;
    font-size: 14px;
  }

  .trees__description {
    margin-bottom: 40px;
    font-size: 16px;
  }

  .trees__button {
    padding: 8px 20px;
    font-size: 14px;
  }

  .payment {
    padding-top: 40px;
    padding-bottom: 50px;
  }

  .payment__title {
    margin-bottom: 30px;
    font-size: 40px;
  }

  .payment__list {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -webkit-box-align: stretch;
        -ms-flex-align: stretch;
            align-items: stretch;
  }

  .payment__item:not(:last-child) {
    margin-bottom: 0;
  }

  .payment__text {
    font-size: 16px;
  }

  .payment__article {
    font-size: 14px;
  }

  .payment__icon-logo {
    width: 79px;
    height: 38px;
  }

  .payment__icon-bank {
    width: 35px;
    height: 35px;
  }

  .footer {
    padding-top: 57px;
    padding-bottom: 40px;
    font-size: 14px;
  }

  .footer__list {
    display: grid;
    grid-template-columns: 4fr 4fr 4fr;
    gap: 41px 22px;
  }

  .footer__item:not(:last-child) {
    margin-bottom: 0;
  }

  .footer__item:not(:last-child) {
    margin-bottom: 0;
  }

  .address__link {
    font-size: 16px;
  }

  .social__icon {
    width: 26px;
    height: 26px;
  }

  .address__item:not(:last-child) {
    margin-bottom: 10px;
  }

  .social__item:not(:last-child) {
    margin-right: 10px;
  }

  .personal__item:not(:last-child) {
    margin-bottom: 10px;
  }

  .policy__item:not(:last-child) {
    margin-bottom: 10px;
  }

  .design__item:not(:last-child) {
    margin-bottom: 10px;
  }
}
@media (min-width: 1024px) {
  .header__announce {
    font-size: 16px;
  }

  .header__content {
    padding-top: 27px;
    padding-bottom: 27px;
  }

  .header__menu {
    display: none;
  }

  .header__navigation {
    visibility: visible;
    pointer-events: auto;
    position: sticky;
    top: 100%;
    width: 100%;
    padding: 0;
    background-color: transparent;
    border-bottom-left-radius: 0;
    border-bottom-right-radius: 0;
    -webkit-transition: none;
    transition: none;
  }

  .navigation__list {
    -ms-flex-wrap: nowrap;
        flex-wrap: nowrap;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    gap: 20px;
  }

  .navigation__button {
    width: auto;
    height: auto;
    font-size: 16px;
    color: #262626;
    background-color: transparent;
    border: none;
    border-radius: 0;
  }

  .button-yellow {
    font-size: 16px;
    padding: 12px 30px;
  }

  .hero__image {
    width: 422px;
    height: 450px;
  }

  .hero__wrap {
    padding: 50px 55px;
  }

  .hero__title {
    font-size: 50px;
    margin-bottom: 25px;
  }

  .hero__article {
    font-size: 20px;
    margin-bottom: 35px;
  }

  .bauble__image {
    width: 65px;
    height: 79px;
    margin-bottom: 9px;
  }

  .hero__button {
    font-size: 16px;
  }

  .features__item:not(:last-child) {
    margin-right: 60px;
  }

  .features__icon {
    width: 80px;
    height: 80px;
  }

  .features__article {
    font-size: 16px;
  }

  .trees__item {
    padding: 60px 39px;
  }

  .trees__content {
    max-width: 1024px;
  }

  .trees__image {
    height: 432px;
  }

  .trees__title {
    font-size: 50px;
  }

  .trees__article {
    font-size: 16px;
  }

  .trees__description {
    margin-bottom: 50px;
    font-size: 20px;
  }

  .trees__button {
    padding: 12px 30px;
    font-size: 16px;
  }

  .trees__button-transparent {
    margin-left: 25px;
  }

  .payment__title {
    font-size: 50px;
  }

  .payment__item {
    width: 300px;
  }

  .payment__wrap {
    height: 106px;
  }

  .payment__text {
    margin-top: 15px;
    font-size: 20px;
  }

  .payment__article {
    font-size: 16px;
  }

  .payment__icon:not(:last-child) {
    margin-right: 16px;
  }

  .payment__icon-visa {
    width: 67px;
    height: 22px;
  }

  .payment__icon-mastercard {
    width: 35px;
    height: 28px;
  }

  .payment__icon-logo {
    width: 115px;
    height: 55px;
  }

  .payment__icon-bank {
    width: 55px;
    height: 55px;
  }

  .footer {
    padding-bottom: 58px;
    font-size: 16px;
  }

  .footer__list {
    gap: 53px 25px;
  }

  .address__link {
    font-size: 20px;
  }

  .social__icon {
    width: 30px;
    height: 30px;
  }

  .address__item:not(:last-child) {
    margin-bottom: 15px;
  }

  .social__item:not(:last-child) {
    margin-right: 15px;
  }

  .personal__item:not(:last-child) {
    margin-bottom: 15px;
  }

  .policy__item:not(:last-child) {
    margin-bottom: 15px;
  }

  .design__item:not(:last-child) {
    margin-bottom: 15px;
  }
}
@media (min-width: 1200px) {
  .header__announce {
    font-size: 20px;
  }

  .logo {
    width: 164px;
    height: 76px;
  }

  .header__navigation {
    position: absolute;
    top: 80px;
  }

  .navigation__list {
    gap: 50px;
  }

  .navigation__button {
    font-size: 18px;
  }

  .button-yellow {
    font-size: 18px;
    padding: 14px 36px;
  }

  .hero__image {
    width: 705px;
    height: 769px;
  }

  .hero__wrap {
    padding: 70px;
  }

  .hero__title {
    font-size: 60px;
    margin-bottom: 50px;
  }

  .hero__article {
    font-size: 26px;
    margin-bottom: 35px;
  }

  .bauble__image {
    width: 113px;
    height: 139px;
    margin-bottom: 13px;
  }

  .hero__button {
    font-size: 16px;
  }

  .features__item:not(:last-child) {
    margin-right: 80px;
  }

  .features__icon {
    width: 100px;
    height: 100px;
  }

  .features__article {
    font-size: 18px;
  }

  .trees__item {
    padding: 80px 39px;
  }

  .trees__content {
    max-width: 1200px;
    gap: 100px;
  }

  .trees__image {
    height: 590px;
  }

  .trees__title {
    font-size: 70px;
  }

  .trees__article {
    font-size: 18px;
  }

  .trees__description {
    margin-bottom: 70px;
    font-size: 24px;
  }

  .trees__button {
    padding: 14px 36px;
    font-size: 18px;
  }

  .trees__button-transparent {
    margin-left: 36px;
  }

  .payment {
    padding-top: 60px;
    padding-bottom: 90px;
  }

  .payment__title {
    font-size: 70px;
    margin-bottom: 48px;
  }

  .payment__item {
    width: 350px;
  }

  .payment__wrap {
    height: 146px;
  }

  .payment__text {
    margin-top: 20px;
    font-size: 24px;
  }

  .payment__article {
    font-size: 18px;
  }

  .payment__icon:not(:last-child) {
    margin-right: 16px;
  }

  .payment__icon-visa {
    width: 91px;
    height: 30px;
  }

  .payment__icon-mastercard {
    width: 50px;
    height: 40px;
  }

  .payment__icon-logo {
    width: 164px;
    height: 76px;
  }

  .payment__icon-bank {
    width: 75px;
    height: 75px;
  }

  .footer {
    padding-top: 80px;
    padding-bottom: 107px;
    font-size: 18px;
  }

  .footer__list {
    gap: 68px 25px;
  }

  .address__link {
    font-size: 24px;
  }

  .social__icon {
    width: 40px;
    height: 40px;
  }

  .address__item:not(:last-child) {
    margin-bottom: 20px;
  }

  .social__item:not(:last-child) {
    margin-right: 20px;
  }

  .personal__item:not(:last-child) {
    margin-bottom: 20px;
  }

  .policy__item:not(:last-child) {
    margin-bottom: 20px;
  }

  .design__item:not(:last-child) {
    margin-bottom: 20px;
  }
}
@media (min-width: 1600px) {
  .hero__wrap {
    padding: 120px 110px;
  }

  .hero__title {
    font-size: 70px;
  }

  .features__item:not(:last-child) {
    margin-right: 115px;
  }

  .payment__item {
    width: 400px;
  }
}/*# sourceMappingURL=main.css.map */