.footer {
  padding-top: 30px;
  padding-bottom: 24px;
  background-color: $first-color;
  font-size: 12px;

  &__item:not(:last-child) {
    margin-bottom: 30px;
  }
}

.address__item:not(:last-child) {
  margin-bottom: 10px;
}
.address__link {
  display: block;
  font-style: normal;
  font-size: 14px;
  line-height: 1.4;
  transition: color $animation;

  &:hover,
  &:focus,
  &:active {
    color: $third-color;
  }
}

.social {
  display: flex;

  &__item:not(:last-child) {
    margin-right: 10px;
  }
  &__icon {
    width: 24px;
    height: 24px;
    border-radius: 100px;
    fill: $second-color;
    transition: fill $animation, transform $animation;
    &:hover {
      fill: $third-color;
      transform: scale(1.2);
    }
  }
}

.personal__item:not(:last-child) {
  margin-bottom: 10px;
}

.policy__item:not(:last-child) {
  margin-bottom: 10px;
}

.design__item:not(:last-child) {
  margin-bottom: 10px;
}
