.header {
  background-color: $second-color;
  padding-top: 15px;
  padding-bottom: 15px;

  &__content {
    position: relative;

    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  &__menu {
    display: inline-flex;
    margin: 0;
    padding: 0;
    background-color: transparent;
    border: none;

    & .icon__cross {
      display: none;
    }
  }

  &__burger {
    fill: $green-first;
  }
  &__navigation {
    visibility: hidden;
    pointer-events: none;
    position: absolute;
    width: 100%;
    top: 55px;
    left: 0;
    padding: 0 10px 20px;
    background-color: $second-color;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;

    transform: scale(0);
    transition: transform $animation, visibility $animation;
    &.is-open {
      visibility: visible;
      pointer-events: auto;

      transform: scale(1);
    }
  }
}

.icon__menu.is-open {
  display: none;
}

.icon__cross.is-open {
  display: block;
}

.logo {
  width: 73px;
  height: 35px;
}

.navigation__list {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  gap: 8px;
}
.navigation__link {
  outline: none;
}

.navigation__button {
  position: relative;
  width: 146px;
  height: 32px;

  font-size: 12px;
  color: $first-color;
  background-color: transparent;
  border: 1px solid $fourth-color;
  border-radius: 20px;
  transform: scale(1);
  transition: background-color $animation, border $animation, box-shadow $animation,
    transform $animation, color $animation;

  &:hover {
    background-color: $fourth-color;
    color: $second-color;
    transform: scale(1.1);
  }

  &:focus {
    border: 1px solid $green-third;
    color: $green-third;
  }

  &:active {
    background-color: $fourth-color;
    color: $second-color;
    transform: scale(1.1);
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  }
}

.button-yellow {
  font-weight: 700;
  font-size: 12px;
  padding: 5px 14px;

  color: $second-color;
  background-color: $fourth-color;
  border-radius: 6px;
  transition: background-color $animation, box-shadow $animation, color $animation;

  &:hover {
    background-color: $green-third;
  }

  &:focus {
    outline: 2px solid $first-color;
  }
  &:active {
    background-color: $green-third;
    box-shadow: 0px 2px 6px rgba(2, 67, 52, 0.36);
  }
}
