.header {
  background-color: $second-color;
}
.header__action {
  background-color: $first-color;
  box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.25);
  padding: 20px;
}
.header__announce {
  text-align: center;
  font-weight: 700;
  font-size: 12px;
}

.header__content {
  position: relative;
  padding-top: 15px;
  padding-bottom: 15px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.header__menu {
  display: block;
  width: 31px;
  height: 24px;
}

.icon__menu {
}
.icon__cross {
}

.logo {
  width: 73px;
  height: 35px;
}

.header__navigation {
  position: absolute;
  width: 100%;
  top: 50px;
  left: 0;
  padding: 20px 10px;
  background-color: $second-color;

  border-radius: 10px;
}

.navigation__list {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  gap: 8px;
}

.navigation__button {
  width: 146px;
  height: 32px;

  font-size: 12px;
  color: $first-color;
  border: 1px solid $fourth-color;
  border-radius: 20px;
}

.button-yellow {
  font-weight: 700;
  font-size: 12px;
  padding: 5px 14px;

  color: $second-color;
  background-color: $fourth-color;
  border-radius: 6px;
}
