.hero {
  background-color: $green-third;

  &__image {
    margin-left: auto;
  }

  &__wrap {
    padding: 20px 10px;
  }

  &__title {
    font-family: Cormorant, serif;
    font-size: 28px;
    line-height: 1;
    letter-spacing: 0.01em;
    margin-bottom: 16px;
    text-align: center;
  }

  &__article {
    font-size: 14px;
    line-height: 1.4;
    margin-bottom: 16px;
    text-align: center;
  }

  &__button {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-left: auto;
    margin-right: auto;
    font-size: 12px;
    background-color: transparent;
    color: $second-color;
    transform: scale(1);
    transition: transform $animation;

    &:hover,
    &:focus,
    &:active {
      transform: scale(1.2);
    }
  }
}
.bauble__image {
  width: 41px;
  height: 49px;
  margin-bottom: 6px;
  filter: drop-shadow(4px 7px 20px #003227);
}
