@media (min-width: 1024px) {
  .header__menu {
    display: none;
  }

  .header__navigation {
    visibility: visible;
    pointer-events: auto;
    position: static;
    padding: 0;
    background-color: transparent;
    border-bottom-left-radius: 0;
    border-bottom-right-radius: 0;
    transform: scale(1);
    transition: none;
  }

  .navigation__list {
    flex-wrap: nowrap;
    align-items: center;
    justify-content: center;
    gap: 20px;
  }
  .navigation__button {
    width: auto;
    height: auto;

    font-size: 16px;
    color: $first-color;
    background-color: transparent;
    border: none;
    border-radius: 0;
  }

  .navigation__button:hover {
    color: $first-color;
    background-color: transparent;
    transform: scale(1.1);
  }

  .navigation__button:focus {
    border: none;
    color: $green-third;
  }
  .navigation__button:active {
    outline: none;
    color: $green-third;
    background-color: transparent;
    transform: scale(1.2);
    box-shadow: none;
  }

  .navigation__button::after {
    content: '';
    margin-top: 5px;
    position: absolute;
    display: block;
    width: 100%;
    height: 2px;
    background-color: $green-third;
    transform: scale(0);
    transition: transform $animation;
  }

  .navigation__button:hover::after,
  .navigation__button:active::after {
    transform: scale(1);
  }

  .button-yellow {
    font-size: 16px;
    padding: 12px 30px;
    border-radius: 8px;
  }

  //   Оформлення секції Герой
  .hero__image {
    width: 422px;
    height: 450px;
  }

  .hero__wrap {
    padding: 50px 30px 50px 50px;
  }

  .hero__title {
    font-size: 50px;
    margin-bottom: 25px;
  }

  .hero__article {
    font-size: 20px;
    margin-bottom: 35px;
  }
  .bauble__image {
    width: 65px;
    height: 79px;
    margin-bottom: 9px;
  }
  .hero__button {
    font-size: 16px;
  }

  //   Оформлення секції Особливості

  .features__item:not(:last-child) {
    margin-right: 60px;
  }
  .features__icon {
    width: 80px;
    height: 80px;
  }
  .features__article {
    font-size: 16px;
  }

  //   Оформлення секції Дерева

  .trees__item {
    padding: 60px 39px;
  }
  .trees__content {
    max-width: 1024px;
  }
  .trees__image {
    height: 432px;
    max-width: 410px;
  }
  .trees__title {
    font-size: 50px;
  }
  .trees__article {
    font-size: 16px;
  }
  .trees__description {
    margin-bottom: 50px;
    font-size: 20px;
  }
  .trees__button {
    padding: 12px 30px;
    font-size: 16px;
  }
  .trees__button-transparent {
    margin-left: 25px;
  }

  //   Оформлення секції Оплати

  .payment__title {
    font-size: 50px;
  }
  .payment__item {
    width: 300px;
  }
  .payment__wrap {
    height: 106px;
  }
  .payment__text {
    margin-top: 15px;
    font-size: 20px;
  }
  .payment__article {
    font-size: 16px;
  }
  .payment__icon:not(:last-child) {
    margin-right: 16px;
  }
  .payment__icon-visa {
    width: 67px;
    height: 22px;
  }
  .payment__icon-mastercard {
    width: 35px;
    height: 28px;
  }

  .payment__icon-logo {
    width: 115px;
    height: 55px;
  }
  .payment__icon-bank {
    width: 55px;
    height: 55px;
  }

  //   Оформлення секції Футер

  .footer {
    padding-bottom: 58px;
    font-size: 16px;
  }
  .footer__list {
    gap: 53px 25px;
  }

  .address__link {
    font-size: 20px;
  }

  .social__icon {
    width: 30px;
    height: 30px;
  }
  .address__item:not(:last-child) {
    margin-bottom: 15px;
  }
  .social__item:not(:last-child) {
    margin-right: 15px;
  }
  .personal__item:not(:last-child) {
    margin-bottom: 15px;
  }

  .policy__item:not(:last-child) {
    margin-bottom: 15px;
  }

  .design__item:not(:last-child) {
    margin-bottom: 15px;
  }
}

@media (min-width: 1200px) {
  //  Оформлення секції Хедер
  .header__announce {
    font-size: 20px;
  }
  .logo {
    width: 164px;
    height: 76px;
  }
  .header__navigation {
    padding: 0 0 4px;
  }

  .navigation__list {
    gap: 50px;
  }
  .navigation__button {
    font-size: 18px;
  }
  .button-yellow {
    font-size: 18px;
    padding: 14px 36px;
  }

  //   Оформлення секції Герой
  .hero__image {
    width: 705px;
    height: 769px;
  }

  .hero__wrap {
    padding: 60px 30px;
  }

  .hero__title {
    font-size: 60px;
    margin-bottom: 50px;
  }

  .hero__article {
    font-size: 26px;
    margin-bottom: 35px;
  }
  .bauble__image {
    width: 113px;
    height: 139px;
    margin-bottom: 13px;
  }
  .hero__button {
    font-size: 16px;
  }

  //   Оформлення секції Особливості

  .features__item:not(:last-child) {
    margin-right: 80px;
  }
  .features__icon {
    width: 100px;
    height: 100px;
  }
  .features__article {
    font-size: 18px;
  }

  //   Оформлення секції Дерева

  .trees__item {
    padding: 80px 39px;
  }
  .trees__content {
    max-width: 1200px;
    gap: 100px;
  }

  .trees__title {
    font-size: 70px;
  }
  .trees__article {
    font-size: 18px;
  }
  .trees__description {
    margin-bottom: 70px;
    font-size: 24px;
  }
  .trees__button {
    padding: 14px 36px;
    font-size: 18px;
  }
  .trees__button-transparent {
    margin-left: 36px;
  }

  //   Оформлення секції Оплати
  .payment {
    padding-top: 60px;
    padding-bottom: 90px;
  }
  .payment__title {
    font-size: 70px;
    margin-bottom: 48px;
  }
  .payment__item {
    width: 350px;
  }
  .payment__wrap {
    height: 146px;
  }
  .payment__text {
    margin-top: 20px;
    font-size: 24px;
  }
  .payment__article {
    font-size: 18px;
  }
  .payment__icon:not(:last-child) {
    margin-right: 16px;
  }
  .payment__icon-visa {
    width: 91px;
    height: 30px;
  }
  .payment__icon-mastercard {
    width: 50px;
    height: 40px;
  }

  .payment__icon-logo {
    width: 164px;
    height: 76px;
  }
  .payment__icon-bank {
    width: 75px;
    height: 75px;
  }

  //   Оформлення секції Футер

  .footer {
    padding-top: 80px;
    padding-bottom: 107px;
    font-size: 18px;
  }
  .footer__list {
    gap: 68px 25px;
  }

  .address__link {
    font-size: 24px;
  }

  .social__icon {
    width: 40px;
    height: 40px;
  }
  .address__item:not(:last-child) {
    margin-bottom: 20px;
  }
  .social__item:not(:last-child) {
    margin-right: 20px;
  }
  .personal__item:not(:last-child) {
    margin-bottom: 20px;
  }

  .policy__item:not(:last-child) {
    margin-bottom: 20px;
  }

  .design__item:not(:last-child) {
    margin-bottom: 20px;
  }
}

@media (min-width: 1600px) {
  //   Оформлення секції Герой
  .hero__article {
    margin-bottom: 70px;
  }
  //   Оформлення секції Особливості

  .features__item:not(:last-child) {
    margin-right: 115px;
  }
  .payment__item {
    width: 400px;
  }

  .trees__image {
    height: 590px;
    max-width: 570px;
  }
}
