@media (min-width: 1024px) {
  //  Оформлення секції Хедер
  .header__announce {
    font-size: 16px;
  }
  .header__content {
    padding-top: 27px;
    padding-bottom: 27px;
  }

  .header__menu {
    display: none;
  }

  .header__navigation {
    visibility: visible;
    pointer-events: auto;
    position: sticky;
    top: 100%;
    width: 100%;
    padding: 0;
    background-color: transparent;
    border-bottom-left-radius: 0;
    border-bottom-right-radius: 0;
    transition: none;
  }

  .navigation__list {
    flex-wrap: nowrap;
    align-items: center;
    justify-content: center;
    gap: 20px;
  }
  .navigation__button {
    width: auto;
    height: auto;

    font-size: 16px;
    color: $first-color;
    background-color: transparent;
    border: none;
    border-radius: 0;
  }
  .button-yellow {
    font-size: 16px;
    padding: 12px 30px;
  }

  //   Оформлення секції Герой
  .hero__image {
    width: 422px;
    height: 450px;
  }

  .hero__wrap {
    padding: 50px 55px;
  }

  .hero__title {
    font-size: 50px;
    margin-bottom: 25px;
  }

  .hero__article {
    font-size: 20px;
    margin-bottom: 35px;
  }
  .bauble__image {
    width: 65px;
    height: 79px;
    margin-bottom: 9px;
  }
  .hero__button {
    font-size: 16px;
  }

  //   Оформлення секції Особливості

  .features__item:not(:last-child) {
    margin-right: 60px;
  }
  .features__icon {
    width: 80px;
    height: 80px;
  }
  .features__article {
    font-size: 16px;
  }

  //   Оформлення секції Дерева

  .trees__item {
    padding: 60px 42px;
    gap: 100px;
  }
  .trees__image {
    height: 432px;
  }
  .trees__title {
    font-size: 50px;
  }
  .trees__article {
    font-size: 16px;
  }
  .trees__description {
    margin-bottom: 50px;
    font-size: 20px;
  }
  .trees__button {
    padding: 12px 30px;
    font-size: 16px;
  }
  .trees__button-transparent {
    margin-left: 25px;
  }

  //   Оформлення секції Оплати

  .payment__title {
    font-size: 50px;
  }
  .payment__item {
    width: 300px;
  }
  .payment__wrap {
    height: 106px;
  }
  .payment__text {
    margin-top: 15px;
    font-size: 20px;
  }
  .payment__article {
    font-size: 16px;
  }
  .payment__icon:not(:last-child) {
    margin-right: 16px;
  }
  .payment__icon-visa {
    width: 67px;
    height: 22px;
  }
  .payment__icon-mastercard {
    width: 35px;
    height: 28px;
  }

  .payment__icon-logo {
    width: 115px;
    height: 55px;
  }
  .payment__icon-bank {
    width: 55px;
    height: 55px;
  }

  //   Оформлення секції Футер

  .footer {
    padding-top: 57px;
    padding-bottom: 40px;
    font-size: 14px;
  }
  .footer__list {
    display: grid;
    grid-template-columns: 4fr 4fr 4fr;
    gap: 41px 22px;
  }

  .footer__item:not(:last-child) {
    margin-bottom: 0;
  }

  .footer__item:not(:last-child) {
    margin-bottom: 0;
  }
  .address__link {
    font-size: 16px;
  }

  .social__icon {
    width: 26px;
    height: 26px;
  }
  .address__item:not(:last-child) {
    margin-bottom: 10px;
  }
  .social__item:not(:last-child) {
    margin-right: 10px;
  }
  .personal__item:not(:last-child) {
    margin-bottom: 10px;
  }

  .policy__item:not(:last-child) {
    margin-bottom: 10px;
  }

  .design__item:not(:last-child) {
    margin-bottom: 10px;
  }
}
