.overlay {
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  z-index: 99;
  background-color: rgba(0, 0, 0, 0.5);
  display: flex;
  justify-content: center;
  align-items: center;

  padding: 10px;
  overflow-y: auto;

  opacity: 0;
  pointer-events: none;
  visibility: hidden;
  transition: opacity $animation, visibility $animation;

  &.overlay-active {
    opacity: 1;
    pointer-events: auto;
    visibility: visible;

    & .modal {
      transform: scale(1);
    }
  }
}

.close-button {
  position: absolute;
  top: 15px;
  right: 15px;
  background-color: transparent;
  border: none;
}

.close-icon {
  width: 24px;
  height: 24px;
  fill: $green-first;
  transition: fill $animation;

  &:hover,
  &:focus {
    fill: $first-color;
  }
}

.modal {
  position: relative;
  padding: 40px 15px;
  width: 400px;
  background-color: $second-color;
  border: 1px solid #646464;
  border-radius: 14px;
  transform: scale(0.8);
  transition: transform $animation;

  &__title {
    font-size: 16px;
    line-height: 1.4;
    text-align: center;
    color: $green-first;
    margin-bottom: 15px;
  }

  &__form {
    display: flex;
    flex-direction: column;
  }

  &__label {
    display: inline-block;
    padding: 12px 10px 16px;
    width: 100%;

    color: $first-color;
    border: 1px solid #afafaf;
    border-radius: 6px;

    font-weight: 700;
    font-size: 12px;
    transition: border $animation;
    &:first-child {
      margin-bottom: 15px;
    }

    &:hover {
      border: 1px solid $first-color;
    }
  }

  &__input {
    width: 100%;
    margin-top: 10px;

    border: none;
    color: #afafaf;
    opacity: 0.7;

    font-weight: 400;
    font-size: 12px;
  }

  &__button {
    margin-top: 15px;
    align-self: flex-end;
  }
}

@media (min-width: 768px) {
  .modal {
    padding: 40px 80px;
    width: 600px;

    &__title {
      font-size: 20px;
      margin-bottom: 25px;
    }

    &__label {
      padding: 12px 15px 20px;
      font-size: 14px;
    }

    &__input {
      margin-top: 15px;
      font-size: 14px;
    }
    &__button {
      margin-top: 25px;
    }
  }
}
@media (min-width: 1024px) {
  .modal {
    padding: 50px 100px;
    width: 746px;

    &__title {
      font-size: 22px;
      margin-bottom: 40px;
    }

    &__label {
      padding: 12px 15px 31px;
      font-size: 18px;
      &:first-child {
        margin-bottom: 20px;
      }
    }

    &__input {
      margin-top: 10px;
      font-size: 18px;
    }
    &__button {
      margin-top: 40px;
    }
  }
}
@media (min-width: 1200px) {
  .modal {
    padding: 60px 85px;
    width: 950px;

    &__title {
      font-size: 26px;
      margin-bottom: 50px;
    }
    &__button {
      margin-top: 60px;
    }
  }
}

//  Из другого проекта Мороженое

// @media screen and (min-width: 1200px) {
//   .close-button {
//     top: 20px;
//     right: 20px;
//   }

//   .close-icon {
//     width: 18px;
//     height: 18px;
//   }

//   .modal {
//     width: 800px;
//   }

//   .modal__title {
//     font-size: 40px;
//     margin-bottom: 20px;
//   }

//   .modal__text {
//     font-size: 20px;
//     margin-bottom: 40px;
//   }

//   .modal__item {
//     font-size: 18px;
//   }

//   .modal__item:not(:last-child) {
//     margin-bottom: 25px;
//   }

//   .modal__label {
//     top: 15px;
//     left: 15px;
//   }

//   .modal__input {
//     padding: 45px 15px 31px;
//   }

//   .modal__button {
//     margin-top: 40px;
//     padding: 12px 58px;
//     font-size: 22px;
//     border-radius: 55px;
//   }

//   .modal__image {
//     display: block;
//     position: absolute;
//     bottom: 0;
//     right: 0;
//   }
// }
