.payment {
  padding-top: 30px;
  padding-bottom: 30px;
  background-color: $third-color;

  &__title {
    margin-bottom: 20px;
    font-family: 'Cormorant';
    font-size: 28px;
    line-height: 1.1;
    letter-spacing: 0.01em;
  }

  &__list {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-right: auto;
    margin-left: auto;
  }

  &__item {
    width: 207px;
    &:not(:last-child) {
      margin-bottom: 30px;
    }
  }

  &__wrap {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: $second-color;
    height: 73px;
  }

  &__text {
    margin-top: 10px;
    margin-bottom: 10px;
    font-size: 14px;
    line-height: 1.4;
  }
  &__article {
    font-size: 12px;
  }

  &__icon:not(:last-child) {
    margin-right: 11px;
  }
  &__icon-visa {
    width: 46px;
    height: 15px;
  }
  &__icon-mastercard {
    width: 24px;
    height: 19px;
  }
  &__icon-logo {
    width: 73px;
    height: 35px;
  }
  &__icon-bank {
    width: 35px;
    height: 35px;
  }
}
