.timer {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  padding: 20px;
  background-color: $first-color;
  color: $second-color;
  text-align: center;
  font-weight: 700;
  font-size: 12px;

  z-index: 10;
  display: flex;
  align-items: center;
  justify-content: center;
}
.timer__count {
  display: block;
}
/*background-color: var(--main-color); Убрать после отключения таймера в ball.css*/

@media (min-width: 768px) {
  .timer {
    font-size: 14px;
  }
}

@media (min-width: 1024px) {
  .timer {
    font-size: 16px;
  }
}

@media (min-width: 1200px) {
  .timer {
    font-size: 18px;
  }
}
