.trees__content {
  margin-right: auto;
  margin-left: auto;
  max-width: 480px;
}
.trees__item {
  padding: 30px 10px;

  &:first-child {
    background-color: $green-second;
  }

  &:nth-child(2) {
    background-color: $green-first;
  }
  &:last-child {
    background-color: $green-third;
  }
}

.trees__image {
  margin-right: auto;
  margin-left: auto;
  border-radius: 16px;
}

.trees__wrap {
  margin-top: 15px;
}
.trees__title {
  margin-bottom: 10px;

  font-family: 'Cormorant';
  font-style: normal;
  font-size: 28px;
  line-height: 1.1;
  letter-spacing: 0.01em;
}
.trees__article {
  margin-bottom: 20px;
  font-size: 12px;
}
.trees__description {
  margin-bottom: 30px;
  font-size: 14px;
  line-height: 1.4;
}
.trees__button {
  padding: 5px 14px;
  font-weight: 700;
  font-size: 12px;
  background-color: $third-color;
  border-radius: 6px;
  outline: 2px solid $third-color;

  transition: background-color $animation, color $animation, outline $animation,
    box-shadow $animation;

  &:hover {
    color: $green-third;
    background-color: $second-color;
    outline: 2px solid $second-color;
  }
  &:focus {
    outline: 2px solid $first-color;
  }
  &:active {
    color: $second-color;
    background-color: $third-color;
    outline: 2px solid $third-color;
    box-shadow: 0px 2px 6px rgba(45, 36, 1, 0.51);
  }
  &-transparent {
    margin-left: 20px;
    background-color: transparent;
    outline: 2px solid $third-color;
  }

  &-transparent:focus {
    outline: 2px solid $second-color;
  }
}
